## Connect to MYSQL and create a table to store our tweets

In [1]:
import tweepy as tw
import mysql.connector
import re
from textblob import TextBlob

# API keys
consumer_key = '33sOuUOYVSkH5aEOlageHz0dA'
consumer_key_secret = 'l14ovpLo3j2Qn5y62OVBOvAQ5MUD2SO8CxLFIwsKORdfB2VcVu'
access_token = '1342134650886565888-YXPBtB7cGc01hUQKZz8RKn7XP56hhF'
access_token_secret = 'wPdvM0HOiu3aAGJGGvYG4nIafoP56nU1IPp4I4WzbzJ07'


# Connection with MySQL
db = mysql.connector.connect(host="localhost", user="root", password="12345678", database="cryptocurrency")
cur = db.cursor(buffered=True) #create a cursor object


# We are gonna create a table named tweets so first we check if table exists
check = "SHOW TABLES LIKE 'tweets'"  
cur.execute(check)


# Create a table if it does not exist in the database
result = cur.fetchone()


if result:
    print('The table tweets already exists')
else:  
    create_table = "CREATE TABLE tweets (ID int(5) NOT NULL AUTO_INCREMENT,username varchar(30) NOT NULL,user_description varchar(50),number_of_followers int(10) NOT NULL,number_of_tweets int(10) NOT NULL,text varchar(1000) NOT NULL,number_of_retweets int(10) NOT NULL,favourites int(10) NOT NULL,date datetime NOT NULL,location varchar(30) NOT NULL,hashtags varchar(300) NOT NULL,sentiment varchar(10) NOT NULL,subjectivity varchar(10) NOT NULL,PRIMARY KEY (ID));"
    cur.execute(create_table)
    db.commit()
    cur.execute("SHOW TABLES")

The table tweets already exists

## Define  appropriate functions to clean the text and to classify the tweets according to the sentiment and to the subjectivity

In [2]:
# Text Preprocessing
def clean_func(tweet_text):
        emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               "]+", flags=re.UNICODE)
        tweet_text = emoji_pattern.sub(r'', tweet_text)
        tweet_text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL', tweet_text) # Remove punctuation
        tweet_text=re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)","",tweet_text) # Remove Urls
        tweet_text = re.sub(u'\u201c', '', tweet_text)
        return tweet_text
    
    
# Cluster tweets according to their polarity as positive, Neutral,Negative    
def pol(tweet_text):
    if TextBlob(tweet_text).sentiment.polarity > 0:
        polarity = 'Positive'
    elif TextBlob(tweet_text).sentiment.polarity == 0: 
        polarity = 'Neutral'
    else:
        polarity = 'Negative'
    return polarity

          
# Cluster tweets according to their subjectivity as objective, neutral, subjective            
def subj(tweet_text):
    if TextBlob(tweet_text).sentiment.subjectivity > 0 and TextBlob(tweet_text).sentiment.subjectivity < 0.5:
        subjectivity = 'Objective'
    elif TextBlob(tweet_text).sentiment.subjectivity == 0.5: 
        subjectivity = 'Neutral'
    else:
        subjectivity = 'Subjective'
    return subjectivity

In [3]:
# Authenticate Access
auth = tw.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

# Fetch all what exist in the table
cur.execute("SELECT * FROM tweets")
database = cur.fetchall()

# Collect tweets that contain the hashtag Bitcoin

In [4]:
## BITCOIN ##
search_Bitcoin = "#Bitcoin" + " -filter:retweets"
tweets_Bitcoin = tw.Cursor(api.search_tweets, tweet_mode="extended", q=search_Bitcoin, lang="en").items(200)

count = 0 # in order to count how many tweets we insert to the database

for tweet in tweets_Bitcoin:

    text = clean_func(tweet.full_text)  # Tweet text
    username = tweet.user.screen_name  # Username
    user_description=clean_func(tweet.user.description) # The description of the user
    number_of_followers = tweet.user.followers_count  # Number of follower's account
    number_of_tweets = tweet.user.statuses_count  # Total number of tweets of this account
    number_of_retweets = tweet.retweet_count  # Total number of account's retweets
    favourites = tweet.favorite_count  # Likes of the tweet
    date = tweet.created_at  # Date that tweet was created.
    location = tweet.user.location  # Location that tweet was created.
    hashtag_list = re.findall(r"#(\w+)", tweet.full_text)  # find all the hashtags in a tweet 
    hashtags = ' '.join([str(elem) for elem in hashtag_list])  # Hashtags of the tweet 
    polarity = pol(text)  # Polarity of the tweet 
    subject=subj(text) # Subjectivity of the tweet

    
    # Insert the data in the database
    insert = "INSERT INTO tweets (username,user_description, number_of_followers, number_of_tweets, text, number_of_retweets, favourites, date, location, hashtags, sentiment,subjectivity) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"
    values = (username,user_description,number_of_followers, number_of_tweets, text, number_of_retweets,favourites, date, location, hashtags, polarity,subject)
    
    
    if values not in database:  # avoid dublicates
        try:
            cur.execute(insert, values)
            db.commit()
            count = count + cur.rowcount 
            print(count, "records inserted.")
        except Exception: 
            pass

1 records inserted.
2 records inserted.
3 records inserted.
4 records inserted.
5 records inserted.
6 records inserted.
7 records inserted.
8 records inserted.
9 records inserted.
10 records inserted.
11 records inserted.
12 records inserted.
13 records inserted.
14 records inserted.
15 records inserted.
16 records inserted.
17 records inserted.
18 records inserted.
19 records inserted.
20 records inserted.
21 records inserted.
22 records inserted.
23 records inserted.
24 records inserted.
25 records inserted.
26 records inserted.
27 records inserted.
28 records inserted.
29 records inserted.
30 records inserted.
31 records inserted.
32 records inserted.
33 records inserted.
34 records inserted.
35 records inserted.
36 records inserted.
37 records inserted.
38 records inserted.
39 records inserted.
40 records inserted.
41 records inserted.
42 records inserted.
43 records inserted.
44 records inserted.
45 records inserted.

# Collect tweets that contain the hashtag Ethereum

In [5]:
## ETHEREUM ## 

search_Ethereum='#Ethereum' + " -filter:retweets"
tweets_Ethereum= tw.Cursor(api.search_tweets, tweet_mode="extended", q=search_Ethereum, lang="en").items(500)

count = 0     

for tweet in tweets_Ethereum:

    text = clean_func(tweet.full_text)  # Tweet text
    username = tweet.user.screen_name  # Username
    user_description=clean_func(tweet.user.description) # The description of the user
    number_of_followers = tweet.user.followers_count  # Number of follower's account
    number_of_tweets = tweet.user.statuses_count  # Total number of tweets of this account
    number_of_retweets = tweet.retweet_count  # Total number of account's retweets
    favourites = tweet.favorite_count  # Likes of the tweet
    date = tweet.created_at  # Date that tweet was created.
    location = tweet.user.location  # Location that tweet was created.
    hashtag_list = re.findall(r"#(\w+)", tweet.full_text)  # find all the hashtags in a tweet 
    hashtags = ' '.join([str(elem) for elem in hashtag_list])  # Hashtags of the tweet 
    polarity = pol(text)  # Polarity of the tweet 
    subject=subj(text) # Subjectivity of the tweet

    
  
    # Insert the data in the database
    insert = "INSERT INTO tweets (username,user_description, number_of_followers, number_of_tweets, text, number_of_retweets, favourites, date, location, hashtags, sentiment,subjectivity) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"
    values = (username,user_description,number_of_followers, number_of_tweets, text, number_of_retweets,favourites, date, location, hashtags, polarity,subject)
    
    if values not in database:  # avoid dublicates
        try:
            cur.execute(insert, values)
            db.commit()
            count = count + cur.rowcount 
            print(count, "records inserted.")
        except Exception:  
            pass

1 records inserted.
2 records inserted.
3 records inserted.
4 records inserted.
5 records inserted.
6 records inserted.
7 records inserted.
8 records inserted.
9 records inserted.
10 records inserted.
11 records inserted.
12 records inserted.
13 records inserted.
14 records inserted.
15 records inserted.
16 records inserted.
17 records inserted.
18 records inserted.
19 records inserted.
20 records inserted.
21 records inserted.
22 records inserted.
23 records inserted.
24 records inserted.
25 records inserted.
26 records inserted.
27 records inserted.
28 records inserted.
29 records inserted.
30 records inserted.
31 records inserted.
32 records inserted.
33 records inserted.
34 records inserted.
35 records inserted.
36 records inserted.
37 records inserted.
38 records inserted.
39 records inserted.
40 records inserted.
41 records inserted.
42 records inserted.
43 records inserted.
44 records inserted.
45 records inserted.
46 records inserted.
47 records inserted.
48 records inserted.
49 records inserted.
50 records inserted.
51 records inserted.
52 records inserted.
53 records inserted.
54 records inserted.
55 records inserted.
56 records inserted.
57 records inserted.
58 records inserted.
59 records inserted.
60 records inserted.
61 records inserted.
62 records inserted.
63 records inserted.
64 records inserted.
65 records inserted.
66 records inserted.
67 records inserted.
68 records inserted.
69 records inserted.
70 records inserted.
71 records inserted.
72 records inserted.
73 records inserted.
74 records inserted.
75 records inserted.
76 records inserted.
77 records inserted.
78 records inserted.
79 records inserted.
80 records inserted.
81 records inserted.
82 records inserted.
83 records inserted.
84 records inserted.
85 records inserted.
86 records inserted.
87 records inserted.
88 records inserted.
89 records inserted.
90 records inserted.
91 records inserted.
92 records inserted.
93 records inserted.
94 records inserted.
95 records inserted.
96 records inserted.
97 records inserted.
98 records inserted.
99 records inserted.
100 records inserted.
101 records inserted.
102 records inserted.
103 records inserted.
104 records inserted.
105 records inserted.
106 records inserted.
107 records inserted.
108 records inserted.
109 records inserted.
110 records inserted.
111 records inserted.
112 records inserted.
113 records inserted.
114 records inserted.
115 records inserted.
116 records inserted.
117 records inserted.
118 records inserted.
119 records inserted.
120 records inserted.
121 records inserted.
122 records inserted.
123 records inserted.
124 records inserted.
125 records inserted.
126 records inserted.
127 records inserted.
128 records inserted.
129 records inserted.
130 records inserted.
131 records inserted.
132 records inserted.
133 records inserted.
134 records inserted.
135 records inserted.
136 records inserted.
137 records inserted.
138 records inserted.
139 records inserted.
140 records inserted.
141 records inserted.
142 records inserted.
143 records inserted.
144 records inserted.
145 records inserted.
146 records inserted.
147 records inserted.
148 records inserted.
149 records inserted.
150 records inserted.
151 records inserted.
152 records inserted.
153 records inserted.
154 records inserted.
155 records inserted.
156 records inserted.
157 records inserted.
158 records inserted.
159 records inserted.
160 records inserted.
161 records inserted.
162 records inserted.
163 records inserted.
164 records inserted.
165 records inserted.
166 records inserted.
167 records inserted.
168 records inserted.
169 records inserted.
170 records inserted.
171 records inserted.
172 records inserted.
173 records inserted.
174 records inserted.
175 records inserted.
176 records inserted.
177 records inserted.
178 records inserted.
179 records inserted.
180 records inserted.
181 records inserted.
182 records inserted.
183 records inserted.
184 records inserted.
185 records inserted.
186 records inserted.
187 records inserted.
188 records inserted.
189 records inserted.
190 records inserted.
191 records inserted.
192 records inserted.
193 records inserted.
194 records inserted.
195 records inserted.
196 records inserted.
197 records inserted.
198 records inserted.
199 records inserted.
200 records inserted.
201 records inserted.
202 records inserted.
203 records inserted.
204 records inserted.
205 records inserted.
206 records inserted.
207 records inserted.
208 records inserted.
209 records inserted.
210 records inserted.
211 records inserted.
212 records inserted.
213 records inserted.
214 records inserted.
215 records inserted.
216 records inserted.
217 records inserted.
218 records inserted.
219 records inserted.
220 records inserted.
221 records inserted.

## Collect tweets that contain the hashtag BNB

In [6]:
## BNB ##
search_Bnb='#BNB'+ "-filter:retweets"
tweets_Bnb = tw.Cursor(api.search_tweets, tweet_mode="extended", q=search_Bnb, lang="en").items(500)

count=0

for tweet in tweets_Bnb:

    text = clean_func(tweet.full_text)  # Tweet text
    username = tweet.user.screen_name  # Username
    user_description=clean_func(tweet.user.description) # The description of the user
    number_of_followers = tweet.user.followers_count  # Number of follower's account
    number_of_tweets = tweet.user.statuses_count  # Total number of tweets of this account
    number_of_retweets = tweet.retweet_count  # Total number of account's retweets
    favourites = tweet.favorite_count  # Likes of the tweet
    date = tweet.created_at  # Date that tweet was created.
    location = tweet.user.location  # Location that tweet was created.
    hashtag_list = re.findall(r"#(\w+)", tweet.full_text) # find all the hashtags in a tweet
    hashtags = ' '.join([str(elem) for elem in hashtag_list])  # Hashtags of the tweet 
    polarity = pol(text)  # Polarity of the tweet 
    subject=subj(text) # Subjectivity of the tweet

    
   
    # Insert the data in the database
    insert = "INSERT INTO tweets (username,user_description, number_of_followers, number_of_tweets, text, number_of_retweets, favourites, date, location, hashtags, sentiment,subjectivity) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"
    values = (username,user_description,number_of_followers, number_of_tweets, text, number_of_retweets,favourites, date, location, hashtags, polarity,subject)
     
    
    if values not in database:  # avoid dublicates
        try:
            cur.execute(insert, values)
            db.commit()
            count = count + cur.rowcount 
            print(count, "records inserted.")
        except Exception: 
            pass

1 records inserted.
2 records inserted.
3 records inserted.
4 records inserted.
5 records inserted.
6 records inserted.
7 records inserted.
8 records inserted.
9 records inserted.
10 records inserted.
11 records inserted.
12 records inserted.
13 records inserted.
14 records inserted.
15 records inserted.
16 records inserted.
17 records inserted.
18 records inserted.
19 records inserted.
20 records inserted.
21 records inserted.
22 records inserted.
23 records inserted.
24 records inserted.
25 records inserted.
26 records inserted.
27 records inserted.
28 records inserted.
29 records inserted.
30 records inserted.
31 records inserted.
32 records inserted.
33 records inserted.
34 records inserted.
35 records inserted.
36 records inserted.
37 records inserted.
38 records inserted.
39 records inserted.
40 records inserted.
41 records inserted.
42 records inserted.
43 records inserted.
44 records inserted.
45 records inserted.
46 records inserted.
47 records inserted.
48 records inserted.
49 records inserted.
50 records inserted.
51 records inserted.
52 records inserted.
53 records inserted.
54 records inserted.
55 records inserted.
56 records inserted.
57 records inserted.
58 records inserted.
59 records inserted.
60 records inserted.
61 records inserted.
62 records inserted.
63 records inserted.
64 records inserted.
65 records inserted.
66 records inserted.
67 records inserted.
68 records inserted.
69 records inserted.
70 records inserted.
71 records inserted.
72 records inserted.
73 records inserted.
74 records inserted.
75 records inserted.
76 records inserted.
77 records inserted.
78 records inserted.
79 records inserted.
80 records inserted.
81 records inserted.
82 records inserted.
83 records inserted.
84 records inserted.
85 records inserted.
86 records inserted.
87 records inserted.
88 records inserted.
89 records inserted.
90 records inserted.
91 records inserted.
92 records inserted.
93 records inserted.
94 records inserted.
95 records inserted.
96 records inserted.
97 records inserted.
98 records inserted.
99 records inserted.
100 records inserted.
101 records inserted.
102 records inserted.
103 records inserted.
104 records inserted.
105 records inserted.
106 records inserted.
107 records inserted.
108 records inserted.
109 records inserted.
110 records inserted.
111 records inserted.
112 records inserted.
113 records inserted.
114 records inserted.
115 records inserted.
116 records inserted.
117 records inserted.
118 records inserted.
119 records inserted.
120 records inserted.
121 records inserted.
122 records inserted.
123 records inserted.
124 records inserted.
125 records inserted.
126 records inserted.
127 records inserted.
128 records inserted.
129 records inserted.
130 records inserted.
131 records inserted.
132 records inserted.
133 records inserted.
134 records inserted.
135 records inserted.
136 records inserted.
137 records inserted.
138 records inserted.
139 records inserted.
140 records inserted.
141 records inserted.
142 records inserted.
143 records inserted.
144 records inserted.
145 records inserted.
146 records inserted.
147 records inserted.
148 records inserted.
149 records inserted.
150 records inserted.
151 records inserted.
152 records inserted.
153 records inserted.
154 records inserted.
155 records inserted.
156 records inserted.
157 records inserted.
158 records inserted.
159 records inserted.
160 records inserted.
161 records inserted.
162 records inserted.
163 records inserted.
164 records inserted.
165 records inserted.
166 records inserted.
167 records inserted.
168 records inserted.
169 records inserted.
170 records inserted.
171 records inserted.
172 records inserted.
173 records inserted.
174 records inserted.
175 records inserted.
176 records inserted.
177 records inserted.
178 records inserted.
179 records inserted.
180 records inserted.
181 records inserted.
182 records inserted.
183 records inserted.
184 records inserted.
185 records inserted.
186 records inserted.
187 records inserted.
188 records inserted.
189 records inserted.
190 records inserted.
191 records inserted.
192 records inserted.
193 records inserted.
194 records inserted.
195 records inserted.
196 records inserted.
197 records inserted.
198 records inserted.
199 records inserted.
200 records inserted.
201 records inserted.
202 records inserted.
203 records inserted.
204 records inserted.
205 records inserted.
206 records inserted.
207 records inserted.
208 records inserted.
209 records inserted.
210 records inserted.
211 records inserted.
212 records inserted.
213 records inserted.
214 records inserted.
215 records inserted.
216 records inserted.
217 records inserted.
218 records inserted.
219 records inserted.
220 records inserted.
221 records inserted.
222 records inserted.
223 records inserted.
224 records inserted.
225 records inserted.
226 records inserted.
227 records inserted.
228 records inserted.
229 records inserted.
230 records inserted.
231 records inserted.
232 records inserted.
233 records inserted.
234 records inserted.
235 records inserted.
236 records inserted.
237 records inserted.
238 records inserted.
239 records inserted.
240 records inserted.
241 records inserted.
242 records inserted.
243 records inserted.
244 records inserted.
245 records inserted.
246 records inserted.
247 records inserted.
248 records inserted.
249 records inserted.
250 records inserted.
251 records inserted.
252 records inserted.
253 records inserted.
254 records inserted.
255 records inserted.
256 records inserted.
257 records inserted.
258 records inserted.
259 records inserted.
260 records inserted.
261 records inserted.
262 records inserted.
263 records inserted.
264 records inserted.
265 records inserted.
266 records inserted.
267 records inserted.
268 records inserted.
269 records inserted.
270 records inserted.
271 records inserted.
272 records inserted.
273 records inserted.
274 records inserted.
275 records inserted.
276 records inserted.
277 records inserted.
278 records inserted.
279 records inserted.
280 records inserted.
281 records inserted.
282 records inserted.
283 records inserted.
284 records inserted.
285 records inserted.
286 records inserted.
287 records inserted.
288 records inserted.
289 records inserted.
290 records inserted.
291 records inserted.
292 records inserted.
293 records inserted.
294 records inserted.
295 records inserted.
296 records inserted.
297 records inserted.
298 records inserted.
299 records inserted.
300 records inserted.
301 records inserted.
302 records inserted.
303 records inserted.
304 records inserted.
305 records inserted.
306 records inserted.
307 records inserted.
308 records inserted.
309 records inserted.
310 records inserted.
311 records inserted.
312 records inserted.
313 records inserted.
314 records inserted.
315 records inserted.
316 records inserted.
317 records inserted.
318 records inserted.
319 records inserted.
320 records inserted.
321 records inserted.
322 records inserted.
323 records inserted.
324 records inserted.
325 records inserted.
326 records inserted.
327 records inserted.
328 records inserted.
329 records inserted.
330 records inserted.
331 records inserted.
332 records inserted.
333 records inserted.
334 records inserted.
335 records inserted.
336 records inserted.
337 records inserted.
338 records inserted.

### Comment

In the end of the code we added a piece of code in order to avoid duplicates. However we realised that it didn't solve this problem in total. The reason is that even we add only values that do not exist already in our database, the date is in a datetime format. So, each second the attribute date changes and each record is considered as unique because the seconds change.
Also tweets get likes constantly and we noticed that in our database we have the same tweets but with only a different number of likes, or followers.  Generally, in our database there are a lot of duplicates and that's why there are so many tweets.

In the next piece of code, before we do the sentiment analysis we remove all these duplicates and we keep only these that have a unique tweet text. So our results are based only in the unique tweets and not in the entire database